!!!
%html
  %head
    %title The Professor - 
    %link(rel="stylesheet" href="/css/site.css")
  %body
    %header
      %h1 The Professor
      %p &ldquo;taking note for everyone out there&rdquo;
      %hr
    %article= yield
    %script{ :type => 'text/javascript', :src => '/js/json2.js' }
    %script{:type => 'text/javascript', :src => '/js/site.js' }


